on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice
    chmod 0660 /dev/qseecom
    chown system drmrpc /dev/qseecom
    chmod 0664 /dev/ion
    chown system system /dev/ion
    start pulldecryptfiles
    install_keyring

# separate copy needed to use /sbin/linker64 instead of /system/bin/linker64
service sbinqseecomd /sbin/qseecomd
    disabled
    user root
    group root
    seclabel u:r:recovery:s0

service pulldecryptfiles /sbin/pulldecryptfiles.sh
    oneshot
    disabled
    user root
    group root
    seclabel u:r:recovery:s0

on boot
    start pulldecryptfiles
    start sbinqseecomd

#on property:ro.crypto.state=encrypted
#    start sbinqseecomd
